{% extends "base.html" %}
{% block title %}:: Flask Service{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>About Flask Service</h1>
  <h3>Uptime: {{ elapsed_time }}</h3>
  <p>Page views: {{ tally }}</p>
  <h3>System Info</h3>
  <small>
    {{ datetime }} <br />
    PATH: {{ syspath }} <br />
    EXECUTABLE: {{ sysexec }} <br />
    CONTAINER @ {{ container }} <br />
    Hosted on: {{ hosted }} <br />
  </small>
  <hr>
  <h3>Environment</h3>
  {{ environ }}
{% endblock %}
